@font-face {
  font-family: 'Raleway';
  src: url('../fonts/ralewayblack.woff2') format('woff2'),
       url('../fonts/ralewayblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/ralewaybold.woff2') format('woff2'),
       url('../fonts/ralewaybold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-font';
  src: url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-font';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-font';
  src: url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-font';
  src: url('../fonts/robotoblack.woff2') format('woff2'),
       url('../fonts/robotoblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  font-family: 'Roboto-font', Arial, sans-serif;
  font-weight: 400;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 900;
}

a {
  text-decoration: none;
}

a:not([href]) {
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  background-color: #00ffd8;
  color: #000;
  padding: 2px 36px;
  outline: none;
}

/*           HEADER          */

.main-header {
  padding-top: 19px;
  padding-bottom: 19px;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.site-navigation,
.contacts {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation {
  justify-content: space-between;
  margin-left: 57px;
  margin-right: 250px;
  width: 345px;
}

.site-navigation a {
  display: block;
  margin-top: 20px;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #707070;
}

.site-navigation a[href]:hover {
  color: #000;
}

.site-navigation a:last-child {
  margin-right: 0;
}

.contacts {
  margin-top: 8px;
  align-items: center;
  justify-content: flex-end;
}

.contacts li:first-child a {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.contacts .btn {
  margin-left: 24px;
}

.contacts .btn:hover,
.contacts .btn:focus {
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 255, 216, 0.6);
}

/*          MAIN-BANER          */

.advantages {
  padding-top: 100px;
  padding-bottom: 80px;
  margin-bottom: 100px;
  color: #fff;
  background-color: #141414;
  background: linear-gradient(to top, rgba(13,13,13,1) 0%, rgba(13,13,13,0) 470px),
              url("../img/welding.jpg") 50% 100% no-repeat;
}

.advantages h1 {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: 3.6px;
  margin-bottom: 15px;
}

.about {
  width: 1020px;
  margin-bottom: 53px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
}

.teal {
  color: #00ffd8;
}

.contact-buttons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 205px;
}

.contact-buttons .btn {
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 900;
  padding: 8px 80px;
}

.contact-buttons .btn:hover,
.contact-buttons .btn:focus {
  box-shadow: 0px 2px 6.3px 0.7px rgba(0, 255, 216, 0.65);
}

.contact-buttons .btn-black {
  border: 1px solid #00ffd8;
  color: #fff;
  background-color: inherit;
  padding: 14px 51px;
  line-height: 26px;
}

.features {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.block {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.6;
}

.block:first-child {
  width: 200px;
  position: relative;
}

.block:first-child::before {
  position: absolute;
  top: -90px;
  left: 65px;
  display: block;
  content: "";
  background: url("../img/like.png") no-repeat 0 0;
  width: 62px;
  height: 64px;
}

.block:nth-child(2) {
  width: 175px;
  position: relative;
}

.block:nth-child(2):before {
  position: absolute;
  top: -75px;
  left: 60px;
  display: block;
  content: "";
  background: url("../img/handshake.png") no-repeat 0 0;
  width: 74px;
  height: 49px;
}

.block:last-child {
  width: 240px;
  position: relative;
}

.block:last-child::before {
  position: absolute;
  top: -100px;
  left: 95px;
  display: block;
  content: "";
  background: url("../img/settings.png") no-repeat 0 0;
  width: 70px;
  height: 69px;
}

/*         SERVICES           */

.services {
  margin-bottom: 63px;
}

.services h2 {
  position: relative;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1.2px;
  margin: 0;
  margin-bottom: 20px;
}

.services h2::after {
  position: absolute;
  top: 50%;
  left: 297px;
  display: block;
  content: "";
  width: 871px;
  height: 0;
  border: solid 1px #000;
}

.service-block {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 275px;
  margin-bottom: 40px;
  margin-right: 45px;
  padding-left: 40px;
  padding-right: 45px;
  padding-top: 30px;
  padding-bottom: 40px;
  min-height: 430px;
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.05);
}

.service-item:nth-child(3n) {
  margin-right: 0;
}

.service-item h3 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
}

.service-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item li {
  font-size: 13px;
  line-height: 16px;
  opacity: 0.77;
  margin-bottom: 14px;
}

.service-item a {
  color: #000;
}

.service-item a:hover {
  text-decoration: underline;
}

/*          PROJECTS          */

.projects {
  margin-bottom: 110px;
}

.projects h2 {
  position: relative;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1.2px;
  margin: 0;
  margin-bottom: 34px;
}

.projects h2::after {
  position: absolute;
  top: 50%;
  left: 300px;
  display: block;
  content: "";
  width: 875px;
  height: 0;
  border: solid 1px #000;
}

.project-list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  align-content: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
}

.project {
  position: relative;
  min-height: 290px;
  color: #fff;
  background-color: brown;
  padding-left: 29px;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin-bottom: 3px;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.project h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 53px;
}

.project p {
  font-size: 15px;
  line-height: 22px;
  opacity: 0.6;
}

.btn-arrow {
  position: absolute;
  bottom: 11px;
  right: 9px;
  display: inline-block;
  padding: 6px 13px;
  color: #fff;
  font-weight: 900;
  opacity: 0.34;
  border: solid 2px #fff;
  outline: none;
}

.btn-arrow:hover,
.btn-arrow:focus {
  color: #000;
  background-color: #00ffd8;
  border-color: #00ffd8;
  opacity: 1;
}

.project-col1 {
  width: 290px;
  padding-top: 53px;
  padding-right: 15px;
}

.project-col2 {
  width: 583px;
  padding-top: 43px;
  padding-right: 80px;
}

.project-col2 h3 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
}

.project-1 {
  background-image: url("../img/project1.jpg");
}

.project-2 {
  background-image: url("../img/project2.jpg");
}

.project-3 {
  background-image: url("../img/project3.jpg");
}

.project-4 {
  background-image: url("../img/project4.jpg");
}

.project-5 {
  background-image: url("../img/project5.jpg");
}

.project-6 {
  background-image: url("../img/project6.jpg");
}

/*         PARTNERS          */

.partners {
  position: relative;
}

.partners h2 {
  position: relative;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1.2px;
  margin: 0;
  margin-bottom: 40px;
}

.partners h2::after {
  position: absolute;
  top: 50%;
  left: 300px;
  display: block;
  content: "";
  width: 715px;
  height: 0;
  border: solid 1px #000;
}

.slider-buttons {
  position: absolute;
  top: 6px;
  right: 0;
  display: flex;
  align-items: center;
  border: solid 2px #292929;
}

.slider-buttons button {
  width: 55px;
  height: 30px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.slider-buttons button:hover,
.slider-buttons button:focus {
  background-color: rgba(0, 255, 216, 0.3);
}

.prev {
  position: relative;
}

.prev::after {
  position: absolute;
  left: 55px;
  top: 11px;
  content: "";
  width: 0;
  height: 8px;
  border: solid 1px #292929;
}

.slider {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 128px;
}

.slider a {
  opacity: 0.5;
  outline: none;
}

.slider a:hover,
.slider a:focus {
  opacity: 1;
}

/*         FOOTER         */

.map {
  width: 100%;
  height: 807px;
  background-color: #eee;
  background: url("../img/map.png") 0 0 no-repeat;
}

.map iframe {
  width: 100%;
  border: none;
}

.main-footer {
  position: relative;
  height: 465px;
  background-color: #000;
  color: #fff;
  padding-top: 60px;
}

.feedback {
  position: absolute;
  z-index: 9;
  left: 50%;
  margin-left: -290px;
  bottom: 134px;
  width: 580px;
  background-color: #fff;
  color: #000;
  padding-top: 23px;
  padding-bottom: 38px;
}

.feedback h2 {
  margin-left: 150px;
  margin-bottom: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 1px;
}

.feedback-form {
  margin-left: 73px;
  width: 400px;
}

.feedback-form label {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.feedback-form input {
  width: 400px;
  margin-bottom: 47px;
  border: none;
  border-bottom: solid 1px #000;
  opacity: 0.5;
  outline: none;
}

.feedback-form input:focus,
.feedback-form input:hover {
  opacity: 1;
}

.user-name {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-name label {
  width: 180px;
}

.user-name input {
  width: 180px;
  margin-bottom: 36px;
}

.feedback-form button {
  margin-left: 100px;
  padding: 5px 47px;
  border: none;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.feedback-form button:hover,
.feedback-form button:focus {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3);
}

.feedback-form .small {
  width: 300px;
  margin: 0;
  margin-top: -20px;
  margin-left: 68px;
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.5;
  text-align: center;
}

.confidentiality {
  border-bottom: dotted 1px;
  color: #000;
  outline: none;
}

.confidentiality:hover,
.confidentiality:focus {
  border-bottom: solid 1px;
  opacity: 1;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
  line-height: 38px;
}

.footer-contacts {
  margin-top: 8px;
}

.footer-contacts img {
  margin-bottom: 16px;
}

.social-buttons {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: -17px;
  padding: 0;
  margin-top: 48px;
}

.social-buttons a {
  display: block;
  height: 30px;
  opacity: 0.5;
  outline: none;
  cursor: pointer;
}

.social-buttons a:focus,
.social-buttons a:hover {
  opacity: 1;
}

.social-vk {
  width: 70px;
  background: url("../img/vk.png") 50% 50% no-repeat;
}

.social-tw {
  width: 50px;
  background: url("../img/tw.png") 50% 50% no-repeat;
}

.social-fb {
  width: 50px;
  background: url("../img/fb.png") 50% 50% no-repeat;
}

.coordinates {
  width: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
}

.coordinates a {
  color: #fff;
}

.coordinates a:hover,
.coordinates a:focus {
  opacity: 0.6;
}

.address {
  position: relative;
  margin-bottom: 44px;
}

.address::before {
  position: absolute;
  left: -29px;
  top: 6px;
  content: "";
  width: 12px;
  height: 15px;
  background: url("../img/address.svg") no-repeat 0 0;
}

.mail {
  position: relative;
  font-weight: 700;
  margin-bottom: 35px;
}

.mail::before {
  position: absolute;
  left: -30px;
  bottom: 6px;
  content: "";
  width: 16px;
  height: 11px;
  background: url("../img/letter.svg") no-repeat 0 0;
}

.phone {
  position: relative;
  font-weight: 700;
}

.phone::before {
  position: absolute;
  left: -30px;
  top: 7px;
  content: "";
  width: 13px;
  height: 12px;
  background: url("../img/phone.svg") no-repeat 0 0;
}

.phone a {
  display: block;
  margin-bottom: -16px;
}

.hours {
  font-size: 13px;
  line-height: 45px;
  opacity: 0.6;
  font-weight: 400;
}

.copyright {
  position:absolute;
  bottom: 40px;
  left: 50%;
  margin: 0;
  margin-left: -150px;
  font-size: 10px;
  line-height: 25px;
  opacity: 0.25;
  letter-spacing: 0.4px;
}
